$electric_violet: #7c4dff;
$cloud_burst: #212946;
// -------------------------

$accentColor: #7c4dff;
$gradient: linear-gradient(to right, #2196F3, #7c4dff);

// Base
$baseBg: #111936;
$baseColor: #d7dcec;
$baseFontFamily: 'Nunito Sans', 'Roboto';
$baseFontSize: 14px;
$baseLineHeight: 1.4;

// Header
$headerBg: #212946;

// Footer
$footerBg: #212946;



// Todo
$todoBg: #212946;
$todoColor: #bdc8f0;
$todoBorderColor: rgba($todoColor, .085) // Footer
